@page
@using EasyAbp.LoggingManagement.Localization
@using EasyAbp.LoggingManagement.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model EasyAbp.LoggingManagement.Web.Pages.LoggingManagement.SystemLogs.IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<LoggingManagementResource> L
@{
    PageLayout.Content.Title = L["SystemLog"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:SystemLogs"].Value);
    PageLayout.Content.MenuItemName = LoggingManagementMenus.SystemLogs;
}

@section scripts
{
    <abp-script src="/Pages/LoggingManagement/SystemLogs/index.js" />
}
@section styles
{
    <abp-style src="/Pages/LoggingManagement/SystemLogs/index.css"/>
}

<script>
    var queryString = "@Model.QueryModel.QueryString";
    var startTime = "@Model.QueryModel.StartTime.ToString("yyyy-MM-dd HH:mm:ss.fff")";
    var endTime = "@Model.QueryModel.EndTime.ToString("yyyy-MM-dd HH:mm:ss.fff")";
    
    var currentDetailModalData = {
        logName: null,
        logValue: null,
        time: null
    };
</script>

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["SystemLog"]</abp-card-title>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-card-body>
            <form data-ajaxForm="true" asp-page="Index">
                <abp-input asp-for="QueryModel.QueryString"/>
                <abp-input asp-for="QueryModel.StartTime"/>
                <abp-input asp-for="QueryModel.EndTime"/>
                <abp-row>
                    <abp-column size-md="_6">
                    </abp-column>
                    <abp-column size-md="_6" class="text-end">
                        <abp-button id="search-button" button-type="Primary" text="@L["Search"].Value"/>
                    </abp-column>
                </abp-row>
            </form>
        </abp-card-body>
        <abp-table striped-rows="true" id="SystemLogTable" class="nowrap">
            <thead>
            <tr>
                <th>@L["Actions"]</th>
                <th>@L["SystemLogTime"]</th>
                <th>@L["SystemLogLevel"]</th>
                <th>@L["SystemLogLogName"]</th>
            </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>